body {
    margin: 0;
    overflow-x:hidden;
  }

.titleBackground {
    height: 400px;
    width: 100%;
    background-image: url("./assets/thumbnail.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    
}

.title {
    margin-top: 20px;
}

.integrantesContainer {
    margin-top: 80px !important;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    max-width: 800px;
}
.integrante {
    display: flex;
    gap: 20px;
}

.integrantePicture2 {
    text-align: center;
}

.integrantePicture {
    border-radius: 50%;
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin: 0 auto; 
}

.name {
    color: #393939;
    font-size: 19px;
    font-weight: 1000;
}

.tittle2 {
    margin-top: 10px;
    color: #9d9d9d;
    font-weight: 800;
    font-size: 16px;
}

.description {
    margin-top: 10px;
    text-align: left;
    line-height: 25px;

}
@media (min-width: 950px){
    .integrantesContainer {
        margin-top: 80px;
        margin-bottom: 80px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        max-width: 1000px;
    }
}