body {
    margin: 0;
    overflow-x:hidden;
  }

.titleBackground {
    height: 400px;
    width: 100%;
    background-image: url("./assets/thumbnail.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    
}

.title {
    margin-top: 30px;
  }
  
  .subtitle{
    margin-top: 50px;
    color: #ede5e5;
    font-weight: 500;
  }