
html,
* {
  padding: 0;
  margin: 0;
}

html {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

.sombra {
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #f5f5f5;
}

a {
  color: #FFFFFFCC;
  transition: color 0.2s linear;
  text-decoration: none;
}
/*Variables*/
:root {
  --primary-color: #FFFFFFCC;
  --primary-hover-color: hsl(23, 67%, 54%);
  --primary-disabled-color: hsl(17, 88%, 90%);
  --secondary-color: hsl(205, 97%, 34%);
  --secondary-hover-color: hsl(210, 76%, 25%);
  --secondary-disabled-color: hsl(205, 97%, 70%);
  --background-color: hsl(0, 0%, 96%);
  --input-disabled-color: hsl(205, 80%, 80%);
  --sombra: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.h3 {
  color: var(--primary-color);
  font-size: 2rem;
  margin: 20px;
}

.dropdown {
  display: none;
}